.project {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .project h2 {
    margin-bottom: 10px;
  }
  
  .link {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
  }
  
  .link:hover {
    text-decoration: underline;
  }
  