.controlGroup {
  display: flex;
  align-items: center;
  flex-wrap: nowrap; /* Prevent wrapping */
  gap: 0.5rem; /* Add space between elements */
}

.searchInputGroup {
  flex: 1; /* Make the search input take up remaining space */
}

.customDropdown {
  min-width: 120px;
}

.createButton {
  background-color: #28a745; /* Green color */
  color: white;
  border: 1px solid #28a745; /* Match the border with background color */
  padding: 0.375rem 0.75rem; /* Match padding with dropdown buttons */
  font-size: 1rem; /* Match font size with dropdown buttons */
  cursor: pointer;
  border-radius: 0.25rem; /* Match border radius with dropdown buttons */
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.createButton:hover {
  background-color: #0f6935; 
  border-color: #03932c;
}

.customButton {
  flex-shrink: 0; /* Prevent the button from shrinking */
}
