.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}

.mainContent {
  flex: 3;
}

.sidePanel {
  flex: 1;
  padding: 20px;
  background-color: #f8f9fa;
  border: 1px solid #e9ecef;
  border-radius: 5px;
}

.detailSection {
  margin-bottom: 20px;
}

.status {
  color: #007bff;
  font-weight: bold;
}

.priority {
  color: #dc3545;
  font-weight: bold;
}

.labelSpan {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 5px 10px;
  background-color: #e9ecef;
  border-radius: 3px;
}

.labelButton {
  margin-left: 5px;
}

.inputGroupMargin {
  margin-top: 10px;
}

.assigneeSection {
  margin-top: 20px;
}

.labelSection {
  margin-top: 20px;
}

.cardMarginBottom {
  margin-bottom: 20px;
}

.commentStrip {
  display: flex;
  align-items: center;
  background-color: #f8f9fa; /* Light gray background color */
  padding: 10px;
  border-bottom: 1px solid #ddd; /* Slight border to separate strip from content */
  justify-content: space-between;
}

.commentAvatar {
  margin-right: 10px;
}

.commentEmail {
  font-weight: bold;
  margin-right: 10px;
  color: #333;
}

.commentDate {
  color: #555;
  margin-right: auto;
}

.commentActionsDropdown {
  margin-left: auto;
}

.threeDotButton {
  background: none;
  border: none;
  color: #555;
}

.threeDotButton:hover,
.threeDotButton:focus {
  background: none;
  border: none;
  color: #000;
}
